[mysqld]

validate_password.policy=MEDIUM  # sole difference with STRONG: don't use dictionary file
validate_password.length=12
validate_password.mixed_case_count=1
validate_password.number_count=1
validate_password.special_char_count=1
